.cv h3 {
    color: #0da778;
    font-weight: bold;
    font-family: "Cairo", sans-serif;
}

.cv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.CardCv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width:840px) {
    .cv h3 {
        font-size: larger;
    }
}